/*
 *= require uikit.gradient
 *= require uikit/components/tooltip
 *= require uikit/components/form-select
 *= require uikit/components/datepicker
 *= require jquery-ui/autocomplete
 *= require_self
 */

 @font-face {
    font-family: 'FontAwesome';
    src: url("/assets/fontawesome-webfont.woff2") format('woff2'), url("/assets/fontawesome-webfont.woff") format("woff"), url("/assets/fontawesome-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background: #fcfbff;
}

.category-dropdown select {
    background: #000000;
}

/*** autocomplete ***/
.ui-autocomplete {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d4d4d5;
    border-radius: 0.285714rem;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.08);
    display: none;
    left: 0;
    margin-top: 0.9em;
    position: absolute;
    top: 100%;
    transform-origin: center top 0;
    width: 18em;
    z-index: 998;
}

.ui-menu-item:first-child {
    border-radius: 0.285714rem 0.285714rem 0 0;
}

.ui-menu-item:last-child {
    border-radius: 0 0 0.285714rem 0.285714rem;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    color: rgba(0, 0, 0, 0.50);
    text-decoration: none;
    background: #f9fafb;
    background-image: none;
    border: 1px solid #d4d4d5;
}
/*** end autocomplete ***/

/***************/
/*****list******/
/***************/

.button {
    background-color: #2acc7d;
    background-image: linear-gradient(to bottom, #2acc7d, #2acc7d);
    border-color: rgba(42, 204, 125, 0.2);
    color: #fff;
    text-shadow: none;
    border-radius: 0.125rem;
    margin-right: 15px;
}

.button:hover {
    background-color: #3ee493;
    background-image: linear-gradient(to bottom, #3ee493, #3ee493);
    border-color: rgba(42, 204, 125, 0.2);
    color: #fff;
    text-shadow: none;
}

.lists-overview-button {
    background-color: #2acc7d;
    background: #faf9fe linear-gradient(to bottom, #ffffff, #f3f1f8) repeat scroll 0 0 border-box;
    border-color: #dedaed;
    color: #919eba;
    text-shadow: none;
    border-radius: 0.125rem;
    margin-right: 25px;
}

.lists-overview-button:hover {
    background-color: #2acc7d;
    background: #faf9fe linear-gradient(to bottom, #ffffff, #f3f1f8) repeat scroll 0 0 border-box;
    border-color: rgba(145, 158, 186, 0.5);
    color: #919eba;
    text-shadow: none;
    border-radius: 0.125rem;
}

/*** navbar ***/

.uk-navbar {
    background: #fff;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1;
    border-color: #d2d9e8;
    height: 65px;
}

.nav-bottom-border {
    background: #eee;
}

.extend-brand {
    background: #31e5c2 linear-gradient(to bottom, #31e5c2, #1dceac) repeat scroll 0 0 border-box;
    border-right: 1px solid #06a486;
    border-bottom: 1px solid #06a486;
    height: 67px;
    padding: 0 55px;
    color: #fff;
}

/**navbar dropdown**/

.uk-dropdown {
    border: 1px solid #d2d9e8;
    border-radius: 0 0 2px 2px;
}

.uk-dropdown.dropdown-actions {
    border: 1px solid #d2d9e8;
    border-radius: 2px;
}

.uk-nav-dropdown > li > a {
    color: #919eba;
}

.uk-nav-dropdown > li > a:hover, .uk-nav-dropdown > li > a:focus {
    background: #1dceac;
    box-shadow: none;
}

.uk-dropdown-navbar.extend-dropdown {
    margin-top: 17px;
    color: #919eba;
}

.uk-dropdown-navbar.extend-new-list-dropdown {
    margin-top: 11px;
}

.uk-dropdown-navbar.arrow:after {
    background: #ffffff;
    border-radius: 1px;
    content: "";
    display: block;
    height: 8px;
    right: 35px;
    position: absolute;
    top: -5px;
    transform: rotate(45deg);
    width: 8px;
    border-top:1px solid #d2d9e8;
    border-left:1px solid #d2d9e8;
    z-index: -1
}

.uk-dropdown-navbar.new-arrow:after {
    background: #ffffff;
    border-radius: 1px;
    content: "";
    display: block;
    height: 8px;
    right: 295px;
    position: absolute;
    top: -5px;
    transform: rotate(45deg);
    width: 8px;
    border-top:1px solid #d2d9e8;
    border-left:1px solid #d2d9e8;
    z-index: -1
}

.uk-navbar-nav > li > a:hover, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li > a:active {
    background-color: transparent;
    border-left-color: rgba(0, 0, 0, 0.0);
    border-right-color: rgba(0, 0, 0, 0.0);
    border-top-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
}

.uk-navbar-nav > li.uk-open > a {
    background-color: transparent;
    border-left-color: rgba(0, 0, 0, 0.0);
    border-right-color: rgba(0, 0, 0, 0.0);
    border-top-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
}

.uk-nav-navbar > li > a {
    color: #919eba;
}

.uk-navbar-nav > li > a {
    background-color: transparent;
    border-left-color: rgba(0, 0, 0, 0.0);
    border-right-color: rgba(0, 0, 0, 0.0);
    border-top-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
    color: #919eba;
}

.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a {
    background-color: transparent;
    border-left-color: rgba(0, 0, 0, 0.0);
    border-right-color: rgba(0, 0, 0, 0.0);
    border-top-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
    color: #919eba;
}


.uk-navbar-nav > li > a:hover, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li > a:active {
    background-color: transparent;
    border-left-color: rgba(0, 0, 0, 0.0);
    border-right-color: rgba(0, 0, 0, 0.0);
    border-top-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
    color: #919eba;
}

.uk-nav-navbar > li > a:hover, .uk-nav-navbar > li > a:focus {
    background: #1dceac;
    box-shadow: none;
}
/** end navbar **/

/** forms **/

/** end forms **/

/*** utility ***/
.xl-margin-large-top {
    margin-top: 100px;
}

.uk-navbar-flip.user-photo-padding {
    padding: 9px 58px 10px 0;
}

.cursor-pointer {
    cursor: pointer;
}

.navbar-search-margin {
    margin-top: 15px;
    margin-left: 50px;
}

.navbar-search-margin {
    margin-top: 15px;
    margin-left: 50px;
}

.navbar-actions {
    margin-top: 5px;
    margin-right: 50px;
}

.uk-dropdown-grid h3 {
    color: #919eba;
}

.lisst {
    border: 1px solid #d2d9e8;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.03);
    border-radius: 2px;
}

.lisst h3 a {
    color: #444444;
    font-size: 15px;
    font-weight: 600;
}

.lisst p {
    color: #999999;
    font-size: 12px;
    line-height: 14px;
}

.border-radius-2 {
    border-radius: 2px;
}

.lisst-stats {
    text-align: center;
    margin: 20px 0;
}

.lisst-stats strong {
    font-size: 30px;
    line-height: 30px;
}

.lisst-stats .lisst-items strong {
    color: #919eba;
}

.lisst-stats .complete strong {
    color: #1dceac;
}

.lisst-stats .incomplete strong {
    color: #d85030;
}

.lisst-stats small {
    font-size: 11px;
    line-height: 16px;
    display: block;
}

.lisst-description {
    min-height: 27px;
}
